@import url("https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.beforeAfter {
  padding: 20px 50px;
  display: flex;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

body {
  background: #f5f5f7;
  padding: 30px;
  font-family: Inter;
}

.drag-drop-zone {
  height: inherit;
  z-index: 9;
}

.drag-drop-zone.inside-drag-area {
  opacity: 0.7;
}
